[Unit]
Description=Schedule Jarvis Capital Lifecycle Worker

[Timer]
OnBootSec=2min
OnUnitInactiveSec=120s
AccuracySec=5s
Unit=jarvis-capital-lifecycle.service

[Install]
WantedBy=timers.target
