[Unit]
Description=Process One Ventures Assessment Every Thirty Minutes

[Timer]
OnCalendar=*-*-* *:00,30:00 UTC
RandomizedDelaySec=2min
Persistent=true
Unit=jarvis-ventures-assessment.service

[Install]
WantedBy=timers.target
